{% extends 'base.html' %}
{% block body %}
<div class="card" style="width: 18rem;">
    <div class="card-body" style="width: 18rem;">
        <h4 class="card-title">Team Cowin</h4>
        <h5 class="card-subtitle mb-2 text-muted">Abhishek Choudhary</h5>
        <h5 class="card-subtitle mb-2 text-muted">Gautom M</h5>
        <h5 class="card-subtitle mb-2 text-muted">Deepak Gupta</h5>
    </div>
</div>
<div style="margin: 5%; font-family: Cursive;color: rgb(146, 68, 104);">
    <h2># Agriculture and Nutrition</h2>
    <h3>Smart Agriculture</h3>
    <p>
        Design / develop solutions to boost local agricultural production using smart
        solutions, data analytics. Solutions should be affordable, easy to deploy, and
        help farmers realize qualitative advances, and financial benefits.
    </p>
    <p>
        ● Collecting data of past 10 years of market demand product ( eg: Tomato,etc)<br>
        ● Analysis the data and find which product is demand on which month. (For
        example Tomato is demand in May and June)<br>
        ● Intimate to the Farmer through app, City A is demand on tomato. <br>
        ● So farmer can plan the tomato early. <br>
        ● Sometime farmer will cultivate tomato extra. <br>
        ● If the product is demanded in the market then the farmer now easily give
        the product to the market because we predict the product earlier.
    </p>
    <h3>Conclusion</h3>
    <p>
        ● By using the data analysis of the past year. We can predict the
        demand product on market. <br>
        ● Make right alert to the farmers early. Make cultivate the crop at right
        time. <br>
        ● So no more demand will create. <br>
        ● Then no more waste will create. <br>
        – Design / build data driven solutions to improve supply chains, reduce wastage, and other benefits that producer
        can sell his crops at fair prices and consumers can get fresh vegetables/fruits at affordable prices. <br> 
        <br>
        <br>
    </p>
</div>
{% endblock body %}
